*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  color: black;
}
html {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
body {
  background-image: url("./components/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.error {
  margin-top: 10px;
  color: red;
  font-size: 20px;
}

/*----------------Laptop media screen-----------------*/
@media only screen and (min-width: 768px) {
  .box-weather {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .city-input:focus {
    opacity: 1.3;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,
      -3px 3px 30px #10abff;
  }
}

/*----------------- Media only screen phone ------------------*/
@media only screen and (min-width: 480px) {
  .header-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 50px 0 50px;
  }

  /*----- MainWeather css------ */
  .main {
    z-index: 1;
    top: 100px;
    position: relative;
    height: 480px;
    width: 70%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7% 0 7%;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 15px silver;
  }

  .inner-main {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .inner-main p {
    padding: 0px 0px 5px 0px;
    position: relative;
    transition: all 0.5s ease-out;
    color: #113555;
  }

  /*------- Weatherbox css ---------*/

  .weather-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 190px;
    height: 190px;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 3px 0px 8px silver;
    padding-bottom: 10px;
    margin: 15px;
    z-index: 2;
  }
  .box-weather {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  .weather-box > h1 {
    font-size: 20px;
  }

  .temp {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.93em;
  }
  .city-input {
    width: 600px;
    display: inline-block;
    padding: 10px 0px 10px 30px;
    line-height: 120%;
    position: relative;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
    transition: all 0.5s ease-out 0s;
  }
}
