.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh
}

/*----- MainWeather css------ */
.main {
  height: 400px;
  width: 800px;border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #afb4c2;
}

.inner-main {
width: 800px;
display: flex;
justify-content: center;
align-items: center;
}

.inner-main > img {
position: relative;
left: -200px;
top: 40px;
width: 300px;
}

.today {
position: relative;
right: 80px;
top: 60px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-end;
}
/* ------Input css ----*/
.city-input {
  width: 500px;
  position: relative;
  top: 78px;  
}
/*------- Weatherbox css ---------*/
.weather-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  color: black;
}

.weather-box > h1 {
  font-size: 20px;
}